<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
  </head>
<body>
<table border="1" style="border-collapse:collapse">
<tr>
  <th>NAME</th>
  <th> PRICE</th>
  <th> UNIT_SIZE</th>
  <th> GOOD_TYPE</th>
  <th> UNITS_AVAILABLE</th>
</tr>
<tr>
  <td>Honey</td>
  <td>15</td>
  <td>pint</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Wheat_Flour</td>
  <td>0.09</td>
  <td>pound</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Wool</td>
  <td>0.02</td>
  <td>pound</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Sun_Stone</td>
  <td>80</td>
  <td>single</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Furs</td>
  <td>22</td>
  <td>single</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Feathers</td>
  <td>0.10</td>
  <td>pound</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Antlers</td>
  <td>16</td>
  <td>pound</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Thralls</td>
  <td>60</td>
  <td>single</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Dried_Fish</td>
  <td>0.20</td>
  <td>barrel</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Fresh_Fish</td>
  <td>0.01</td>
  <td>barrel</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Ships_Biscuit</td>
  <td>0.15</td>
  <td>barrel</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Beer</td>
  <td>2</td>
  <td>barrel</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Spring_Water</td>
  <td>0.20</td>
  <td>barrel</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Water</td>
  <td>0.01</td>
  <td>barrel</td>
  <td>TRADE</td>
  <td>10</td>
</tr>
<tr>
  <td>Swords</td>
  <td>65</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Club</td>
  <td>0.20</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Short-bow</td>
  <td>20</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Longbow</td>
  <td>40</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Javelins</td>
  <td>0.50</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Spear</td>
  <td>2</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Daneaxe</td>
  <td>40</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Seaxe</td>
  <td>3</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Quarterstaff</td>
  <td>0.10</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Handaxe</td>
  <td>6</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Sling</td>
  <td>0.10</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Halberd</td>
  <td>75</td>
  <td>single</td>
  <td>WEAPON</td>
  <td>10</td>
</tr>
<tr>
  <td>Reindeer_Leather_Armor</td>
  <td>40</td>
  <td>single</td>
  <td>ARMOR</td>
  <td>10</td>
</tr>
<tr>
  <td>Helmet</td>
  <td>30</td>
  <td>single</td>
  <td>ARMOR</td>
  <td>10</td>
</tr>
<tr>
  <td>Maille_Hauberk</td>
  <td>60</td>
  <td>single</td>
  <td>ARMOR</td>
  <td>10</td>
</tr>
<tr>
  <td>Shield</td>
  <td>15</td>
  <td>single</td>
  <td>ARMOR</td>
  <td>10</td>
</tr>
<tr>
  <td>Hide_Coat</td>
  <td>25</td>
  <td>single</td>
  <td>ARMOR</td>
  <td>10</td>
</tr>
</table>
</body>
</html>
